@media only screen and (max-width: 1920px) {
    h2 {
        text-align: center;
    }
    
    .heading {
        text-align: left;
        font-size: 35px;
    }
    
    li {
        text-align: left;
        font-size: 20px;
    }   
}

@media only screen and (device-width: 390px) {
    h2 {
      text-align: center;
      font-size: 50px;
    }
  
    .heading {
      text-align: left;
      font-size: 50px;
    }
  
    li {
      text-align: left;
      font-size: 35px;
    }
  }