p {
    color: red;
    font-size: 18px;
    width: 500px;
}

h1{
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: rgb(139, 33, 205);
    text-shadow: 2px 2px 1.5px black;
}

html {
    background-color:rgb(50, 50, 158);
}

body {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: orange;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;
}